body{
    background-color: cyan;
}

header{
     background-color: red;
     height: 300px;
     width: 1024px;
     margin-left: auto;
     margin-right: auto;
}

nav{
    background-color: blue;
    height: 18px;
    width: 1024px;
    margin-right: auto;
    margin-left: auto;
}

main{
    background-color: orange;
    height: 200px;
    width: 1024px;
    margin-right: auto;
    margin-left: auto;
}

footer{
    background-color: greenyellow;
    height: 100px;
    width: 1024px;
    margin-right: auto;
    margin-left: auto;

}

